/* Make task labels wider on big screens */
a.PotPillsContainer-potPillLink {
  max-width: 80px;
}

@media screen and (min-width: 1600px) {
  a.PotPillsContainer-potPillLink {
    max-width: 200px;
  }
}

/* Hide unread notification blob */
.SidebarTopNavLinks-notificationsButton.asana-hacks-hide::after {
  background: transparent !important;
}

/* Make private task bar more visible to spot unnecessary hidden tasks */
.MessageBanner--default.TaskPrivacyBanner-isPrivate,
.TaskMessageBanner.MessageBanner.TaskPrivacyBanner-isPrivate {
  background-color: #DF0101;
  color: #fff;
}

.MessageBanner--default.TaskPrivacyBanner-isPrivate a,
.TaskMessageBanner.MessageBanner.TaskPrivacyBanner-isPrivate a {
  color: #fff;
}

/* Use full width for task list */
.PotListPage-gridPane {
  flex: 1 1 auto !important;
}

/* Make first custom field in overview wider */
.GridHeaderWithCustomProperties .CustomPropertyHeader-fieldHeading--enum:first-child {
  width: 90px;
}

.ItemRow .CustomPropertyEnumEditablePreviewCell:first-child {
  width: 110px;
}
